/*
This stylesheet will work pretty well with a regular Org Mode HTML export.
However, you do have to turn off all of the defaults:

(setq org-export-html-style-include-scripts nil
      org-export-html-style-include-default nil)

and insert a call to the stylesheet:

(setq org-export-html-style
      "<link rel=\"stylesheet\" type=\"text/css\" href=\"org-style.css\" />"
)

I thought this was pretty, but I wanted it to be a little less geared toward
specific font faces.  Also, it doesn't have a monospace font for code.  I'll
probably do a variant of this for copying and pasting into Gmail.  As it
stands, the centering and width make the result kind of ugly. -- Ryan Matlock
*/

/* @group Fonts */

*
{
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6,
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
    font-family: sans-serif;
}

/* foo > bar means children of foo of type bar
   see: http://css-tricks.com/child-and-sibling-selectors/ */
pre, code, .src, .src > span
{
    font-family: monospace;
}

#text-table-of-contents a
{
    font-family: sans-serif;
}

/* @end */

/* @group Baseline */
body
{
    font-size: 10pt;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
}
h1
{
    margin: 0;
    font-size: 1.6666666666666667em;
    line-height: 0.9em;
    margin-bottom: 0.9em;
}
h2
{
    margin: 0;
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 1em;
}
h3
{
    margin: 0;
    font-size: 1.3333333333333333em;
    line-height: 1.125em;
    margin-bottom: 1.125em;
}
h4
{
    margin: 0;
    font-size: 1.1666666666666667em;
    line-height: 1.2857142857142858em;
    margin-bottom: 1.2857142857142858em;
}
p, ul, blockquote, pre, td, th, label
{
    margin: 0;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}
p.small, #postamble
{
    margin: 0;
    font-size: 0.8333333333333334em;
    line-height: 1.8em;
    margin-bottom: 1.8em;
}
table
{
    border-collapse: collapse;
    margin-bottom: 1.5em;
}

/* Style ordered lists like LaTeX:
   
   1. foo
   2. bar
      a. baz
         I. blah
         II. bag
             A. shebang
             B. bloop
      b. qux
         I. boop
         II. beep
      c. spam
   3. eggs
   4. ham
   
   source: http://stackoverflow.com/questions/12731020/how-to-have-sub-ordered-lists-correctly
*/

ol li
{
    list-style-type: decimal;
}

ol li ol li
{
    list-style-type: lower-alpha;
    content: ") ";
}

ol li ol li ol li
{
    list-style-type: lower-roman;
}

ol li ol li ol li ol li
{
    list-style-type: upper-alpha;
}

/* @end */

/* @group Layout */

#content
{
    width: 60em;
    /* max-width: 800px; */
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
}

/* #header
{
    height: 10em;
}
*/

#table-of-contents
{
    margin-top: 2ex;
    width: 40em;
    float: left;
    overflow: auto;
}

/* #main { */
div.outline-2
{
    /* width needs to be larger than 40em */
    width: 55em;
    float: right;
    /* The lines below are useful if the "main" div isn't available and
       div.outline-2 has to be used. */
    position: relative;
}

#postamble
{
    clear: both;
    text-align: center;
}

#footnotes
{
    clear: both;
}

div.outline-2 pre
{
    /* width: auto; */
    overflow: auto;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
}

pre
{
    /* width should be 80em wide to accommodate a line of text */
    width = 80em;
}

/* @end */

/* @group Header */

h1.title
{
    margin-top: 10px;
    text-align: center;
}

h1.title
{
    font-size: 2.5em;
    font-weight: bold;
    /* letter-spacing: -0.1em; */
    margin-bottom: 0.2em;
}

/* @end */

/* @group Org Keywords */

.todo
{
    color: red;
}

.done
{
    color: green;
}

.tag
{
    color: blue;
    text-transform: lowercase;
    /* This will be obscured by the surrounding span tag, so blank everything. */
    background: #fff;
    border: none;
    /* position: relative;
    text-align: right;
    right: 1em; */
}

.timestamp
{
}

.timestamp-kwd 
{
    /* keyword associated with a time stamp, like SCHEDULED */
}

.target
{
    /* target for links */
}

/* @end */

/* @group Table of Contents */

#table-of-contents h2
{
    /* letter-spacing: -0.1em; */
}

#table-of-contents ul,
#table-of-contents ol
{
    padding-left: 1em;
}

/* @end */

/* @group Outline Level 2 */

.outline-2 h2
{
    background: #ffc;
    border-bottom: 1px solid #ccc;
}

.outline-2 h2, .outline-2 h3
{
    /* letter-spacing: -0.05em; */
}

.outline-2
{
    padding: 5px;
    /* margin-bottom: 10px; */
    /* border-top: 1px solid #ccc; */
}

/* @end */

td
{
    border: 1px solid #ccc;
}


h1 span, h2 span, h3 span, h4 span, h5 span, h6 span
{
    background-color: #eee;
    padding: 2px;
    border: 1px solid #ccc;
}

.outline-1, .outline-2, .outline-3, .outline-4, .outline-5, .outline-6
{
    margin-left: 2em;
}

a
{
    text-decoration: none;
    color: #57d; /* TODO: Find a better colour for this. */
}

a:hover
{
    border-bottom: 1px dotted #57d;
}

#postamble p
{
    margin: 0px;
}

.todo, .done
{
    font-family: monospace;
    font-weight: bold;
}

.IN_PROGRESS, .ON_HOLD
{
    color: orange;
}

/*
Styling for the printed page

(http://www.smashingmagazine.com/2011/11/24/how-to-set-up-a-print-style-sheet/ seems like a decent guide)
*/

@media print
{
    body
    {
        font-size: 8pt;
    }

    #table-of-contents   
    {
        display: none
    }

    h1
    {
        font-size: 18pt;
    }

    h2
    {
        font-size: 16pt;
    }
    
    h3
    {
        font-size: 14pt;
    }

    h4
    {
        font-size: 12pt;
    }

    #content
    {
        width: auto;
        max-width: auto;
    }

    div.outline-2
    {
        width: auto;
        float: none;
    }

    pre, .src, .src > span
    {
        box-shadow: 0px 0px 0px;
        /* make sure you can see everything when you print
           source: http://www.webdeveloper.com/forum/showthread.php?136761-Print-Contents-of-lt-div-overflow-auto-gt 
           not working yet, but not the biggest deal */
        /* width: 100%; */
        overflow: visible;
        height: auto;
    }
}
